* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  user-select: none;
}
#warpAll {
  width: 100vw; height: 100vh;
  background-color: #000;
  overflow: hidden;
}
#numberArea {
  margin: 4vh 0 0 2.5vw;
  font-size: 4vh;
  animation: greenGlow ease 5s infinite;
}
#moneyArea {
  margin: 0 0 0 2.5vw;
  font-size: 2vh;
  animation: greenGlow ease 5s infinite;
}
#memoryDigit {
  filter: grayscale(1);
}
#mainNav {
  height: 5vh;
  margin: 2vh 0 0 5vw;
  font-size: 2.7vh;
}
.tabNav {
  display: block; float: left;
  margin: 0 2vw 0 0; padding: 0.2vh 0.2vw;
  border-radius: 0.3vh;
  transition: 0.3s;
}
.tabNav:hover {
  filter: brightness(1.3);
}
.tabNav:active {
  filter: brightness(1.6);
  transform: scale(1.1);
  transition: 0s;
}
.t1Nav {
  border: 0.35vh solid #49d124;
  background-color: rgba(54, 156, 26, 0.5);
  cursor: pointer;
  animation: greenGlow ease 5s infinite;
}
.t2Nav {
  border: 0.35vh solid #24d18c;
  background-color: rgba(26, 156, 104, 0.5);
  cursor: pointer;
  animation: cyanGlow ease 5s infinite;
}

#commandArea {
  margin-left: 1.5vw;
  position: absolute; top: 97vh;
  width: 98.5vw; height: 1.9vh;
}
.commandTxt {
  position: absolute;
  opacity: 0.7;
  font-size: 1.9vh;
  animation: greenGlow ease 5s infinite;
}

.tab:nth-of-type(1) {

}
.sectionTxt {
  margin: 1.4vh 0 0 3.5vw;
  font-size: 2.5vh; color: #369c1a; text-shadow: 0 0 0.4vh #369c1a;
}
#programs {
  margin: 0 0 0 3.5vw;
}
.program {
  width: 30vw;
  margin: 1vh 0 0 0; padding: 0.3vh 0.3vw;
  font-size: 1.7vh;
  border: 0.1vh solid #d12424;
  background-color: rgba(56, 9, 9, 0.5);
  filter: blur(0.08vh);
  cursor: pointer;
  animation: greenGlow ease 5s infinite;
  transition: all 0.3s;
}
.program:hover {
  border: 0.1vh solid #9c1a1a;
  background-color: rgba(56, 9, 9, 0.8);
  filter: blur(0);
}
.program:active {
  border: 0.1vh solid #49d124;
  background-color: rgba(54, 156, 26, 0.5);
  filter: blur(0);
  transition: all 0s;
}
.program.active {
  border: 0.1vh solid #49d124;
  background-color: rgba(54, 156, 26, 0.5);
  filter: blur(0);
  transition: all 0.3s;
}
.program.active:hover {
  border: 0.1vh solid #49d124;
  background-color: rgba(54, 156, 26, 0.8);
  filter: blur(0.1vh);
}

.tab:nth-of-type(2) {
  margin: 5vh 0 0 10vw;
}
.shopBox {
  display: block; float: left;
  margin-right: 2.5vw;
  width: 25vw; height: 60vh;
  border-radius: 2vh; border: 0.3vh solid #239423;
  background-color: rgba(23, 99, 23, 0.8);
  animation: greenBoxShade ease 13s infinite;
}
.sectionTxtShop {
  margin: 2vh 0 0 0;
  width: 100%;
  font-size: 2.5vh; color: #0a360a; text-shadow: 0 0 1.2vh #0a360a; text-align: center;
  background-color: #239423;
}
.shopItem {
  margin: 2.2vh 2vw;
  height: 7.8vh;
  color: #0c3b0c;
  border-radius: 1vh; border: 0.2vh solid #135e13;
  background-color: rgba(35, 148, 35, 0.7);
  cursor: pointer;
  transition: all 0.3s ease-in-out -0.1s;
}
.shopItem:hover {
  color: #59d459; text-shadow: 0 0 0.3vh #59d459;
}
.shopItem:active {
  color: #fff; text-shadow: 0 0 0.6vh #fff;
  transition: all 0s;
}
.shopItem > .itemName {
  margin-top: 0.15vh;
  height: 3.5vh;
  font-size: 3.2vh; text-align: center;
}
.shopItem > .itemCost {
  height: 1.8vh;
  font-size: 1.8vh; text-align: center;
}
.shopItem > .itemDesc {
  margin-top: 0.2vh;
  height: 1.2vh;
  font-size: 1.2vh; text-align: center;
}
.shopItem.bought {
  color: #59d459; text-shadow: 0 0 0.6vh #59d459;
  transition: all 1s;
}

.tab:nth-of-type(3) {
  text-align: center;
}
#rebootButton {
  margin: 0 0 0 45vw; padding: 1vh 0 0 0;
  width: 10vw; height: 5vh;
  font-size: 3vh;
  border-radius: 0.5vh;
  cursor: pointer;
  transition: all 0.4s;
  animation: rebootButtonGlow linear 8s infinite;
}
#rebootButton:not(.disabled):hover {
  transform: scale(1.1);
  filter: brightness(0.9) hue-rotate(-110deg);
}
#rebootButton:not(.disabled):active {
  transform: scale(1);
  filter: brightness(2) hue-rotate(-110deg);
  transition: all 0s;
}
#rebootButton.disabled {
  cursor: auto;
  filter: grayscale(1);
  color: #49d124; text-shadow: 0 0 0.4vh #49d124;
  background-color: #2e8018;
  border: 0.4vh solid #49d124;
  box-shadow: 0 0 0 0 #2e8018 inset;
  transition: all 1s;
  animation: none;
}
#rebootDesc {
  color: #49d124; font-size: 1.8vh;
}
#rpDisplay {
  margin-top: 1vh;
  font-size: 3.6vh;
  animation: greenGlow ease 2.5s infinite;
}
.research {
  margin: 2vh 0 0 15vw; padding: 0 0 0 1vw;
  width: 69vw; height: 15vh;
  text-align: left;
  border-radius: 2vh; border: 0.4vh solid #469e3a;
  background: linear-gradient(#469e3a, #1f7816);
  cursor: pointer;
  transition: all 0.3s;
}
.research:hover {
  filter: brightness(1.05);
  transform: scale(1.02);
}
.research:active {
  filter: brightness(1.2);
  transform: scale(1);
  transition: all 0s;
}
.researchName {
  font-size: 4vh; color: #89d47b; text-shadow: 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605;
}
.researchProgress {
  width: 64vw; height: 5vh;
  position: relative;
  border: 0.4vh solid #469e3a;
  background: linear-gradient(#173313, #12450c);
}
.researchLevel {
  margin: 0.5vh 0 0 0;
  position: absolute;
  font-size: 4vh;
  z-index: 5;
  animation: whiteGlow ease 5s infinite;
}
.innerBar {
  width: 0; height: 5vh;
  position: absolute;
  background-color: #dba7a7;
  animation: hueRotate linear 4s infinite;
}
.shadowBar {
  width: 64vw; height: 5vh;
  position: absolute;
  box-shadow: 0 0 0.5vh 0.25vh rgba(128, 128, 128, 0.8) inset;
}
.researchCost {
  font-size: 1.7vh; color: #89d47b; text-shadow: 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605, 0 0 0.3vh #0d3605;
}

.tab:nth-of-type(4) {
  text-align: center;
}
#achPageNav {
  margin: 0 auto;
  width: 30vw; height: 6vh;
}
#achWarp {
  margin: 0 auto;
  border-spacing: 0.5vh;
}
#achWarp > tbody > tr > td {
  width: 10vh; height: 10vh;
  background-color: green;
}

.tab:nth-of-type(5) {
  text-align: center;
}
.optionBtn {
  margin: 1vh 0 0 0; padding: 0.25vh 1vw;
  display: inline-block;
  border: 0.35vh solid #49d124; border-radius: 0.5vh;
  background-color: rgba(54, 156, 26, 0.5);
  font-size: 3vh;
  cursor: pointer;
  transition: all ease 0.3s;
  animation: greenGlow ease 5s infinite;
}
.optionBtn.disabled {
  filter: hue-rotate(-110deg) brightness(1);
}
.optionBtn:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.optionBtn:not(.disabled):hover {
  filter: hue-rotate(0deg) brightness(1);
}
.optionBtn.disabled:hover {
  filter: hue-rotate(-110deg) brightness(1);
}
.optionBtn:active {
  transform: scale(1);
  transition: all 0s;
}
.optionBtn:not(.disabled):active {
  filter: hue-rotate(-110deg) brightness(2);
}
.optionBtn.disabled:active {
  filter: hue-rotate(0deg) brightness(2);
}

/* animation: animationName ease 5s infinite */
